.main_about_me_section {
    width: 100%;
    height: 500px;
}

.main_top_body_section {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.main_top_body_div_text {
    width: 75%;
    height: 23%;
    text-align: center;
}

.main_top_body_div_text p {
    font-size: 9rem;
    font-weight: bolder;
    font-family: Impact, fantasy;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    color: #343434;
}